<div id="<%= dom_id analysis %>">
  <p>
    <strong>Applicant:</strong>
    <%= analysis.applicant_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= analysis.score %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= analysis.status %>
  </p>

</div>
